<div class="container col-container shadow-sm task-summary p-3">
    <div class="task-title">
        <h4>{{ task.title.substring(0, 25)}} <i class="fas fa-edit text-primary open-icon"
                (click)="navigateToDetail()"></i></h4>
    </div>
    <div class="task-tags flex row-container">
        <div *ngFor="let tag of task.tags">
            <app-tag (selectTag)="selectTag($event)" [tag]="tag"></app-tag>
        </div>
    </div>
    <div class="task-due-date mt-2" [ngClass]="{'text-danger': isOverdue}">
        <h6><i class="fas fa-exclamation mr-2" *ngIf="isOverdue"></i>Due: {{ task.duetime | date:'short'}}</h6>
    </div>
    <div class="task-mark-complete">
        <span class="text-primary complete-icon" (click)="completeTask()"><i class="far fa-check-square"></i> mark as
            complete</span>
    </div>
</div>